

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/harrison-steen-qLCEbNDrdtI-unsplash.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

@media only screen and(min-device-width: 100px) {
    body{
        background-image: url(img/harrison-steen-qLCEbNDrdtI-unsplash.jpg);
        background-size: contain;
    }
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
}
h2{
    position: absolute;
    left: 2vw;
    top: 3vh;
    color: white;
}
.for-slot{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);

}
/* ================================================================================= INPUT ============================================================================ */
.input{
    display: flex;
    flex-direction: column;
    width: 32rem;
    height: 27rem;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    justify-content: center ;
    align-items: center;
    border-radius: 30px;
}
input{
    width: 300px;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    border: 0px solid black;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.input-date{
    display: flex;
    margin-bottom: 50px;
    text-align: center;
}

.input-date input{
    margin-left: 10px;
}

.input-for{
    display: flex;
    margin-bottom: 20px;
}

.input-for input{
    margin-left: 22px;
}

button{
    position: relative;
    transform: translateY(35px);
    width: 150px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(255,255,255,0.1);
    font-family: 'Poppins', sans-serif;
    border: 0px solid black;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: white;
    transition: 0.5s;
    cursor: pointer;
    z-index: 2;
}
button a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 100px;
}
.btn-contain{
    position: relative;
    z-index: 10;
}
.btn-contain .btn a::before{
    content: "";
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left, rgba(255,255,255,0.35),transparent);
    transform: skew(45deg) translateX(0px);
    transition: 0.5s;
    z-index: -10;
}
.btn-contain .btn:hover a::before{
    transform: skew(45deg) translateX(100px);
}



/* ====================================================================================== COUNTDOWN ================================================================== */
.countdown{
 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    background-color: rgba(255,255,2552,0.1);
    height: 20rem;
    visibility: hidden;
    backdrop-filter: blur(20px);
    border: 2px solid transparent;
    background-clip: padding-box;
}

.name-slot{
    display: flex;
}
.name-slot h3{
    margin: 0 20px;
    position: relative;
    top: -50px;
    color: black;
}
.time-slot{
    display: flex;
}
.time-slot h3{
    margin: 0 60px;
    position: relative;
    top: -10px;
    right: 10px;
    font-family: 'Poppins', sans-serif;
}
.for-slot{
    position: relative;
    top: 30px;
}







